@import "tailwindcss";


html, body, #root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: #11071F;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar{
  display: none;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
}

